.body {
  margin: 0;
  padding: 0;
}

/* .gambar {
  text-align: center;
} */

.card-body h1 {
  margin: 0;
  padding: 0;
}

.menu {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

.nama {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  height: 30%;
  align-items: center;
  justify-content: center;
}

.nama img {
  width: 20%;
  background-color: lightseagreen;
}

.head {
  margin-top: 120px;
}
.nav-item {
  font-size: small;
}

.card-body h5 {
  padding: 0;
}
